<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{base_url()}}/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ appName }}</title>
    <meta name="theme-color" content="#fff">
    <!-- <link rel="shortcut icon" href="assets/images/favicon.ico" /> -->
    <link rel="stylesheet" href="assets/css/packages.min.2.0.0.css">

    <style>
        body { background: #dedede;}
        .page-wrap { min-height: 100vh;}
    </style>
</head>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="{{ path_for('home') }}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
