/* ===== Hero CSS ===== */
.ud-hero {
  padding-top: 75px;
  background: var(--primary-color);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ud-hero {
    padding-top: 87px;
  }
}

@media (max-width: 767px) {
  .ud-hero {
    padding-top: 87px;
  }
}

.ud-hero-image {
  width: 100%;
}

.ud-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ud-hero-content .ud-hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  margin-top: 70%;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ud-hero-content .ud-hero-title {
    font-size: 32px;
    line-height: 50px;
    margin-top: 35%;
  }
}

@media (max-width: 767px) {
  .ud-hero-content .ud-hero-title {
    font-size: 24px;
    line-height: 34px;
  }
}

/* ===== Features CSS ===== */
.ud-features {
  padding-top: 120px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .ud-features {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.ud-section-title {
  max-width: 620px;
  margin-bottom: 50px;
}
