<footer class="ud-footer">
    <div class="ud-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Trios Technologies Pvt Ltd. &#169; {{ "now"|date("Y") }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>