{% extends 'user/layout.twig' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome {{ auth.userName }}!</h1>
        <hr class="my-4">
        <p class="lead">{{projectTitle}}</p>
    </div>
</div>
{% endblock %}
