{% extends 'user/layout.twig' %}

{% block content %}
<div class="row">
    <!-- <div class="jumbotron">
  <h1 class="display-4">Welcome !</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> -->
    <!-- <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info">
                <i class="fas fa-graduation-cap"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Courses</span>
                <span class="info-box-number">{{ courseCount }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning">
                <i class="fas fa-users">
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Total Users</span>
                <span class="info-box-number">{{ userCount }}</span>
            </div>
        </div>
    </div>
	<div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success">
                <i class="fas fa-users">
                </i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Active Users</span>
                <span class="info-box-number">{{ activeUsersCount }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger">
                <i class="fas fa-shopping-cart"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">
                    No of Payments
                </span>
                <span class="info-box-number">{{ noOfPayments }}</span>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}
