<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{base_url()}}/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='robots' content='noindex,follow' />

    <title>{{ appName }} - {{ page.title }}</title>

    {% if customUI == 'trios' %}
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    {% endif %}

    <link rel="stylesheet" href="assets/css/packages.min.css?v1.1" media="print"
        onload="this.media='all';this.onload = null;" />
    <link rel="stylesheet" href="assets/css/adminlte.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    {% block stylecontent %} {% endblock %}
</head>

<body class="hold-transition sidebar-mini" oncontextmenu="return true;">

    <div class="wrapper">
        {% include 'user/navigation.twig' %}

        {% include 'user/sidebar.twig' %}

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">
                                {{page.title}}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="container-fluid">
                    {% include 'flash.twig' %}

                    {% block content %} {% endblock %}

                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/packages.min.js?v1.1"></script>
    <script src="assets/js/admin.packages.min.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            dataTable = $("#dataTable").DataTable();
        });
    </script>

    {% block scriptcontent %} {% endblock %}
</body>

</html>